@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body {
  background-color: #f8fafc;
  font-family: "Inter";
  font-weight: 300;
}

h6 {
  font-family: "Geist Mono";
  font-size: 12px;
}
